[Unit]
Description=Backs up TractionGuest/SIE Source Files
Requires=restic-tguest.service

[Timer]
Unit=restic-tguest.service
OnCalendar=*:0/15

[Install]
WantedBy=timers.target
