[Unit]
Description=Backs up Home Folder
Wants=restic-home.timer

[Service]
Type=oneshot
ExecStart={{ .chezmoi.homeDir }}/.rbenv/bin/rbenv exec ruby {{ .chezmoi.homeDir }}/.restic/restic-multi.rb home backup --tag=cron

[Install]
WantedBy=multi-user.target
