{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- end -}}
{{- if eq $email "" -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $focus := "" -}}
{{- if hasKey . "focus" -}}
{{-   $focus = .focus -}}
{{- end -}}
{{- if eq $focus "" -}}
{{-   $focus = promptString "focus" -}}
{{- end -}}


[data]
  focus = {{ $focus | quote }}
  email = {{ $email | quote }}

  [data.area]
    fetlife = false
    personal = {{ default false (eq $focus "personal") }}
    server = {{ default false (eq $focus "server") }}
    tractionguest = {{ default false (eq $focus "sie") }}

  [data.synergy]
    enabled = false
    mode = "client"
    server = "sie-mbp.erebusbat.net"

[git]
  autoAdd = true
  autoCommit = true
  autoPush = true
