{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- end -}}
{{- if eq $email "" -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $focus := "" -}}
{{- if hasKey . "focus" -}}
{{-   $focus = .focus -}}
{{- end -}}
{{- if eq $focus "" -}}
{{-   $focus = promptString "focus" -}}
{{- end -}}

{{- $a_fetlife := eq $focus "fetlife" }}
{{- $a_personal := eq $focus "personal" }}
{{- $a_server := eq $focus "server" }}
{{- $a_tractionguest := eq $focus "tractionguest" }}

[data]
  focus = {{ $focus | quote }}
  email = {{ $email | quote }}

  [data.area]
    fetlife = {{ default false .area.fetlife }}
    personal = {{ default false .area.personal }}
    server = {{ default false .area.server }}
    tractionguest = {{ default false .area.tractionguest }}

  [data.synergy]
    enabled = {{ default false .synergy.enabled }}
    mode = {{ default "client" .synergy.mode | quote }}
    server = {{ default "10.0.1.70" .synergy.server | quote }}

[git]
  # autoAdd = true
  autoCommit = true
