{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email := promptString "email" -}}
{{- end -}}


{{- $focus := "" -}}
{{- if hasKey . "focus" -}}
{{-   $focus = .focus -}}
{{- else -}}
{{-   $focus := promptString "focus" -}}
{{- end -}}

[data]
  focus = {{ $focus | quote }}
  email = {{ $email | quote }}
  [data.area]
    fetlife = {{ eq $focus "fetlife" }}
    personal = {{ eq $focus "personal" }}
    server = {{ eq $focus "server" }}
    tractionguest = {{ eq $focus "tractionguest" }}

