#!/bin/bash
{{ $filePath := joinPath .chezmoi.homeDir "/.config/nvim/lazy-lock.json" }}
NVIM_PATH=$(which nvim)
if [[ $? -ne 0 ]]; then
        echo "WARN: Could not find 'nvim' binary; truncating lazy-lock.json so it runs next time"
	echo "" > {{ $filePath }}
        exit 0
fi
# Config HASH: {{ include $filePath | sha256sum }} ~/.config/nvim/lazy-lock.json
echo "Restoring NeoVim Plugin State (Lazy.nvim)..."
$NVIM_PATH --headless "+Lazy! restore" +qa
