#!/bin/bash
if [[ ! -x ~/bin/bin ]]; then
        echo "Could not find 'bin' binary"
        exit 1
fi
{{ $theDir := joinPath .chezmoi.homeDir "/.config/zsh-antibody/" }}
{{ $sumFilePath := joinPath $theDir ".shasum" -}}
# Config HASH: {{ include $sumFilePath | sha256sum }} {{ $sumFilePath }}

echo "################################################################################"
echo "# Rebuilding ZSH Antibody Static File"
echo "################################################################################"
cd {{ $theDir }}
make static
echo "##################################### DONE #####################################"
echo "  WARNING: You will need to re-launch any open shells to get changes"
echo "################################################################################"
