# https://www.perplexity.ai/search/how-do-i-configure-gpg-agent-t-l.tiX_O7RZWcQU4a2atYvg?login-source=oneTapThread

#
# WARNING: This file is managed by Chezmoi
#	   Changes will be overwritten!
#

{{ if eq .chezmoi.os "darwin" }}
# Enable GPG Agent Forwarding
#   See myserver/gpg-agent for server stuff
extra-socket {{ .chezmoi.destDir }}/.gnupg/S.gpg-agent.extra

# Use macOS keychain
pinentry-program /opt/homebrew/bin/pinentry-mac
{{ else if eq .chezmoi.os "linux" }}
{{ end }}
# default-cache-ttl 34560000
# max-cache-ttl 34560000
