# https://www.perplexity.ai/search/how-do-i-configure-gpg-agent-t-l.tiX_O7RZWcQU4a2atYvg?login-source=oneTapThread
#
pinentry-program /opt/homebrew/bin/pinentry-mac
# default-cache-ttl 34560000
# max-cache-ttl 34560000
