<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.chezmoi-sync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/fdautil</string>
		<string>exec</string>
		<string>/Users/andrew.burns/.config/chezmoi/git_sync</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/local.chezmoi-sync.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/local.chezmoi-sync.stdout</string>
	<key>StartInterval</key>
	<integer>3600</integer>
</dict>
</plist>
