---
{{- if eq .area.tractionguest true }}
BUNDLE_RUBYGEMS__PKG__GITHUB__COM: "ErebusBat:{{- (gopassRaw "tguest/tokens" | mustFromJson).github }}"

# To add this (for others) run:
#  bundle config set --global gems.contribsys.com {{- (gopassRaw "tguest/tokens" | mustFromJson).CONTRIBSYS }}
BUNDLE_GEMS__CONTRIBSYS__COM: "{{- (gopassRaw "tguest/tokens" | mustFromJson).CONTRIBSYS }}"
{{ end }}
{{- if eq .area.companycam true }}
### - CompanyCam Start

# Sidekiq Enterprise
#   bundle config set --global gems.contribsys.com {{ (gopassRaw "ccam/tokens" | mustFromJson).CONTRIBSYS }}
BUNDLE_GEMS__CONTRIBSYS__COM: "{{- (gopassRaw "ccam/tokens" | mustFromJson).CONTRIBSYS }}"

# GraphQL Pro
#   bundle config set --global gems.graphql.pro {{ (gopassRaw "ccam/tokens" | mustFromJson).graphql }}
BUNDLE_GEMS__GRAPHSQL__PRO: "{{- (gopassRaw "ccam/tokens" | mustFromJson).graphql }}"
### - CompanyCam End
{{ end }}

BUNDLE_GEM__TEST: "rspec"
BUNDLE_GEM__CI: "circle"
BUNDLE_GEM__MIT: "false"
BUNDLE_GEM__COC: "false"
BUNDLE_GEM__CHANGELOG: "true"
BUNDLE_GEM__LINTER: "rubocop"

# vim: set noai ts=4 sw=4 ft=gotextmpl:
