# vim: set ft=caddyfile et ts=2 sw=2:
{
	admin :2019
	email ErebusBat@gmail.com
	acme_dns digitalocean {env.DIGITALOCEAN_API_TOKEN}
}


##############################
# Other / Misc
##############################
mcp-mem.local.erebusbat.net {
  reverse_proxy http://127.0.0.1:8000
}

unsloth.local.erebusbat.net {
  reverse_proxy http://127.0.0.1:8888
}
