### SECRETS

{{- if .area.personal -}}
### ErebusBat
{{ (gopassRaw "erebusbat/setec_astronomy_env") -}}
{{- end }}

{{ if .area.tractionguest }}
### TractionGuest
{{ (gopassRaw "tguest/setec_astronomy_env") -}}
{{- end }}
