### SECRETS

{{- if .area.personal -}}
### ErebusBat
{{ (gopassRaw "erebusbat/setec_astronomy_env") -}}
{{- end }}

{{ if .area.companycam }}
### CompanyCam
{{ (gopassRaw "ccam/setec_astronomy_env") -}}
{{- end }}

{{ if .area.lshq }}
### LightspeedHQ
{{ (gopassRaw "lshq/setec_astronomy_env") -}}
{{- end }}
