version: "3"
{{- if eq .focus "ccam" }}
agent:
  authtoken: {{ (gopassRaw "ccam/ngrok" | mustFromJson).authtoken }}
  console_ui_color: transparent
tunnels:
{{ (gopassRaw "ccam/ngrok" | mustFromJson).tunnels | toYaml | indent 2 }}
{{- else }}
agent:
  authtoken: {{ (gopassRaw "erebusbat/tokens" | mustFromJson).ngrok }}
  console_ui_color: transparent
tunnels:
  n8n:
    proto: http
    addr: 5678
    url: https://monitor-smooth-normally.ngrok-free.app
{{- end }}
