{{/* vim: set ft=json ts=2 sw=2 et: */}}
{
  "globalShortcut": "",
  "mcpServers": {
     "obsidian": {
      "command": "/Users/andrew.burns/bin/.mcp-obsidian.sh",
      "args": []
    }
  },
  "preferences": {
    "coworkScheduledTasksEnabled": false,
    "sidebarMode": "chat"
  }
}
