[General]
activationHasRun=true
autoConfig=false
autoConfigServer=
autoHide=false
configFile={{ .chezmoi.homeDir }}/synergy.conf
cryptoEnabled=true
edition=1
elevateMode=false
elevateModeEnum=0
groupClientChecked=true
groupServerChecked=false
interface=
language=en
lastExpiringWarningTime=0
lastVersion=1.12.0-stable
loadFromSystemScope=false
logFilename={{ .chezmoi.homeDir }}/synergy.log
logLevel2=0
logToFile=false
minimizeToTray=true
port=24800
screenName={{ .chezmoi.hostname }}
serialKey={{ (keepassxc "Synergy 1 Pro").Password }}
serverHostname=10.0.1.117
startedBefore=true
useExternalConfig=false
useInternalConfig=true
wizardLastRun=8

[internalConfig]
clipboardSharing=true
clipboardSharingSize=@Variant(\0\0\0\x84\0\0\0\0\0\0\f\0)
disableLockToScreen=false
enableDragAndDrop=true
hasHeartbeat=false
hasSwitchDelay=false
hasSwitchDoubleTap=false
heartbeat=5000
hotkeys\1\actions\1\activeOnRelease=false
hotkeys\1\actions\1\hasScreens=false
hotkeys\1\actions\1\keys\size=0
hotkeys\1\actions\1\lockCursorToScreen=0
hotkeys\1\actions\1\restartServer=false
hotkeys\1\actions\1\switchInDirection=0
hotkeys\1\actions\1\switchScreenName={{ .chezmoi.hostname }}
hotkeys\1\actions\1\type=5
hotkeys\1\actions\1\typeScreenNames\size=0
hotkeys\1\actions\size=1
hotkeys\1\keys\1\key=16777224
hotkeys\1\keys\size=1
hotkeys\2\actions\size=0
hotkeys\2\keys\1\key=67108864
hotkeys\2\keys\2\key=65
hotkeys\2\keys\size=2
hotkeys\size=2
ignoreAutoConfigClient=false
numColumns=5
numRows=3
relativeMouseMoves=false
screenSaverSync=true
screens\1\name=
screens\10\name=
screens\11\name=
screens\12\name=
screens\13\aliasArray\size=0
screens\13\fixArray\1\fix=false
screens\13\fixArray\2\fix=false
screens\13\fixArray\3\fix=false
screens\13\fixArray\4\fix=false
screens\13\fixArray\size=4
screens\13\modifierArray\1\modifier=0
screens\13\modifierArray\2\modifier=1
screens\13\modifierArray\3\modifier=2
screens\13\modifierArray\4\modifier=3
screens\13\modifierArray\5\modifier=4
screens\13\modifierArray\6\modifier=5
screens\13\modifierArray\size=6
screens\13\name={{ .chezmoi.hostname }}
screens\13\switchCornerArray\1\switchCorner=false
screens\13\switchCornerArray\2\switchCorner=false
screens\13\switchCornerArray\3\switchCorner=false
screens\13\switchCornerArray\4\switchCorner=false
screens\13\switchCornerArray\size=4
screens\13\switchCornerSize=0
screens\14\name=
screens\15\name=
screens\2\name=
screens\3\name=
screens\4\aliasArray\size=0
screens\4\fixArray\1\fix=false
screens\4\fixArray\2\fix=false
screens\4\fixArray\3\fix=false
screens\4\fixArray\4\fix=false
screens\4\fixArray\size=4
screens\4\modifierArray\1\modifier=0
screens\4\modifierArray\2\modifier=1
screens\4\modifierArray\3\modifier=2
screens\4\modifierArray\4\modifier=3
screens\4\modifierArray\5\modifier=4
screens\4\modifierArray\6\modifier=5
screens\4\modifierArray\size=6
screens\4\name=thelio
screens\4\switchCornerArray\1\switchCorner=false
screens\4\switchCornerArray\2\switchCorner=false
screens\4\switchCornerArray\3\switchCorner=false
screens\4\switchCornerArray\4\switchCorner=false
screens\4\switchCornerArray\size=4
screens\4\switchCornerSize=0
screens\5\aliasArray\size=0
screens\5\fixArray\1\fix=false
screens\5\fixArray\2\fix=false
screens\5\fixArray\3\fix=false
screens\5\fixArray\4\fix=false
screens\5\fixArray\size=4
screens\5\modifierArray\1\modifier=0
screens\5\modifierArray\2\modifier=1
screens\5\modifierArray\3\modifier=2
screens\5\modifierArray\4\modifier=3
screens\5\modifierArray\5\modifier=4
screens\5\modifierArray\6\modifier=5
screens\5\modifierArray\size=6
screens\5\name=officepi
screens\5\switchCornerArray\1\switchCorner=false
screens\5\switchCornerArray\2\switchCorner=false
screens\5\switchCornerArray\3\switchCorner=false
screens\5\switchCornerArray\4\switchCorner=false
screens\5\switchCornerArray\size=4
screens\5\switchCornerSize=0
screens\6\name=
screens\7\name=
screens\8\aliasArray\size=0
screens\8\fixArray\1\fix=false
screens\8\fixArray\2\fix=false
screens\8\fixArray\3\fix=false
screens\8\fixArray\4\fix=false
screens\8\fixArray\size=4
screens\8\modifierArray\1\modifier=0
screens\8\modifierArray\2\modifier=1
screens\8\modifierArray\3\modifier=2
screens\8\modifierArray\4\modifier=3
screens\8\modifierArray\5\modifier=4
screens\8\modifierArray\6\modifier=5
screens\8\modifierArray\size=6
screens\8\name=Thneed.local
screens\8\switchCornerArray\1\switchCorner=false
screens\8\switchCornerArray\2\switchCorner=false
screens\8\switchCornerArray\3\switchCorner=false
screens\8\switchCornerArray\4\switchCorner=false
screens\8\switchCornerArray\size=4
screens\8\switchCornerSize=0
screens\9\aliasArray\size=0
screens\9\fixArray\1\fix=false
screens\9\fixArray\2\fix=false
screens\9\fixArray\3\fix=false
screens\9\fixArray\4\fix=false
screens\9\fixArray\size=4
screens\9\modifierArray\1\modifier=0
screens\9\modifierArray\2\modifier=1
screens\9\modifierArray\3\modifier=2
screens\9\modifierArray\4\modifier=3
screens\9\modifierArray\5\modifier=4
screens\9\modifierArray\6\modifier=5
screens\9\modifierArray\size=6
screens\9\name=mbp2019.local
screens\9\switchCornerArray\1\switchCorner=false
screens\9\switchCornerArray\2\switchCorner=false
screens\9\switchCornerArray\3\switchCorner=false
screens\9\switchCornerArray\4\switchCorner=false
screens\9\switchCornerArray\size=4
screens\9\switchCornerSize=0
screens\size=15
switchCornerArray\1\switchCorner=false
switchCornerArray\2\switchCorner=false
switchCornerArray\3\switchCorner=false
switchCornerArray\4\switchCorner=false
switchCornerArray\size=4
switchCornerSize=0
switchDelay=250
switchDoubleTap=250
win32KeepForeground=false
