<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serialKey</key>
  <string>{{- (gopassRaw "app/Synergy_1_Pro" | mustFromJson).serialKey }}</string>
	<key>useExternalConfig</key>
	<false />
	<key>configFile</key>
	<string>{{ .chezmoi.homeDir }}/Library/Application Support/Synergy/Synergy/LastConfig.cfg</string>
	<key>internalConfig.screens.8.fixArray.1.fix</key>
	<string>NO</string>
	<key>internalConfig.screens.size</key>
	<string>15</string>
	<key>internalConfig.screens.9.fixArray.size</key>
	<string>4</string>
	<key>wizardLastRun</key>
	<string>8</string>
	<key>internalConfig.screens.8.modifierArray.2.modifier</key>
	<string>1</string>
	<key>internalConfig.screens.4.name</key>
	<string></string>
	<key>internalConfig.screens.8.switchCornerArray.3.switchCorner</key>
	<string>NO</string>
	<key>internalConfig.switchDoubleTap</key>
	<string>250</string>
	<key>elevateMode</key>
	<string>NO</string>
	<key>lastVersion</key>
	<string>1.14.3-stable</string>
	<key>internalConfig.heartbeat</key>
	<string>5000</string>
	<key>internalConfig.switchCornerArray.4.switchCorner</key>
	<string>NO</string>
	<key>internalConfig.numColumns</key>
	<string>5</string>
	<key>internalConfig.screens.8.name</key>
	<string>MBP-TGUEST</string>
	<key>internalConfig.screens.8.aliasArray.size</key>
	<string>0</string>
	<key>internalConfig.screens.9.modifierArray.5.modifier</key>
	<string>4</string>
	<key>internalConfig.switchCornerArray.2.switchCorner</key>
	<string>NO</string>
	<key>internalConfig.screens.9.fixArray.2.fix</key>
	<string>NO</string>
	<key>autoHide</key>
	<string>NO</string>
	<key>internalConfig.screens.8.switchCornerArray.2.switchCorner</key>
	<string>NO</string>
	<key>minimizeToTray</key>
	<string>NO</string>
	<key>internalConfig.screens.11.name</key>
	<string></string>
	<key>internalConfig.screens.8.modifierArray.5.modifier</key>
	<string>4</string>
	<key>internalConfig.switchCornerArray.3.switchCorner</key>
	<string>NO</string>
	<key>internalConfig.screens.13.name</key>
	<string></string>
	<key>internalConfig.screens.8.switchCornerSize</key>
	<string>0</string>
	<key>autoConfigServer</key>
	<string></string>
	<key>internalConfig.screens.8.modifierArray.size</key>
	<string>6</string>
	<key>internalConfig.switchCornerArray.1.switchCorner</key>
	<string>NO</string>
	<key>cryptoEnabled</key>
	<string>YES</string>
	<key>port</key>
	<string>24800</string>
	<key>internalConfig.screens.8.fixArray.3.fix</key>
	<string>NO</string>
	<key>useInternalConfig</key>
	<string>NO</string>
	<key>edition</key>
	<string>1</string>
	<key>internalConfig.relativeMouseMoves</key>
	<string>NO</string>
	<key>logLevel2</key>
	<string>0</string>
	<key>internalConfig.switchDelay</key>
	<string>250</string>
	<key>logFilename</key>
	<string>{{ .chezmoi.homeDir }}/synergy.log</string>
	<key>internalConfig.screens.9.switchCornerArray.size</key>
	<string>4</string>
	<key>internalConfig.hasSwitchDoubleTap</key>
	<string>NO</string>
	<key>internalConfig.screens.15.name</key>
	<string></string>
	<key>activationHasRun</key>
	<string>YES</string>
	<key>internalConfig.screens.3.name</key>
	<string></string>
	<key>languageSync</key>
	<string>NO</string>
	<key>internalConfig.screens.9.fixArray.4.fix</key>
	<string>NO</string>
	<key>internalConfig.screens.7.name</key>
	<string></string>
	<key>internalConfig.screens.9.modifierArray.3.modifier</key>
	<string>2</string>
	<key>internalConfig.screens.9.switchCornerArray.4.switchCorner</key>
	<string>NO</string>
	<key>internalConfig.enableDragAndDrop</key>
	<string>YES</string>
	<key>internalConfig.screens.8.switchCornerArray.1.switchCorner</key>
	<string>NO</string>
	<key>language</key>
	<string>en_CA</string>
	<key>internalConfig.screens.8.modifierArray.3.modifier</key>
	<string>2</string>
	<key>loadFromSystemScope</key>
	<string>NO</string>
	<key>internalConfig.clipboardSharing</key>
	<string>YES</string>
	<key>serverHostname</key>
	<string>10.0.1.75</string>
	<key>lastExpiringWarningTime</key>
	<string>0</string>
	<key>internalConfig.screens.9.switchCornerArray.3.switchCorner</key>
	<string>NO</string>
	<key>screenName</key>
	<string>MBP-TGUEST</string>
	<key>internalConfig.screens.9.modifierArray.6.modifier</key>
	<string>5</string>
	<key>groupClientChecked</key>
	<string>NO</string>
	<key>internalConfig.screens.9.fixArray.1.fix</key>
	<string>NO</string>
	<key>internalConfig.screens.2.name</key>
	<string></string>
	<key>internalConfig.screens.8.modifierArray.6.modifier</key>
	<string>5</string>
	<key>internalConfig.screens.6.name</key>
	<string></string>
	<key>internalConfig.hasHeartbeat</key>
	<string>NO</string>
	<key>internalConfig.screens.8.fixArray.size</key>
	<string>4</string>
	<key>internalConfig.screens.9.switchCornerArray.2.switchCorner</key>
	<string>NO</string>
	<key>internalConfig.screens.10.name</key>
	<string></string>
	<key>groupServerChecked</key>
	<string>YES</string>
	<key>startedBefore</key>
	<string>YES</string>
	<key>internalConfig.screens.12.name</key>
	<string></string>
	<key>internalConfig.screens.9.modifierArray.1.modifier</key>
	<string>0</string>
	<key>internalConfig.screens.8.fixArray.2.fix</key>
	<string>NO</string>
	<key>internalConfig.numRows</key>
	<string>3</string>
	<key>internalConfig.screens.8.modifierArray.1.modifier</key>
	<string>0</string>
	<key>internalConfig.win32KeepForeground</key>
	<string>NO</string>
	<key>internalConfig.screens.8.switchCornerArray.size</key>
	<string>4</string>
	<key>internalConfig.ignoreAutoConfigClient</key>
	<string>NO</string>
	<key>elevateModeEnum</key>
	<string>0</string>
	<key>internalConfig.hasSwitchDelay</key>
	<string>NO</string>
	<key>internalConfig.screens.9.fixArray.3.fix</key>
	<string>NO</string>
	<key>internalConfig.screens.9.modifierArray.4.modifier</key>
	<string>3</string>
	<key>internalConfig.screens.14.name</key>
	<string></string>
	<key>internalConfig.disableLockToScreen</key>
	<string>YES</string>
	<key>internalConfig.hotkeys.size</key>
	<string>0</string>
	<key>internalConfig.screens.8.modifierArray.4.modifier</key>
	<string>3</string>
	<key>invertScrollDirection</key>
	<string>NO</string>
	<key>internalConfig.screens.9.modifierArray.size</key>
	<string>6</string>
	<key>internalConfig.switchCornerSize</key>
	<string>0</string>
	<key>logToFile</key>
	<string>NO</string>
	<key>internalConfig.screens.9.switchCornerArray.1.switchCorner</key>
	<string>NO</string>
	<key>preventSleep</key>
	<string>NO</string>
	<key>internalConfig.screens.1.name</key>
	<string></string>
	<key>autoConfig</key>
	<string>NO</string>
	<key>interface</key>
	<string></string>
	<key>internalConfig.screens.8.fixArray.4.fix</key>
	<string>NO</string>
	<key>internalConfig.screens.5.name</key>
	<string></string>
	<key>internalConfig.screens.9.name</key>
	<string>thelio</string>
	<key>internalConfig.screens.9.aliasArray.size</key>
	<string>0</string>
	<key>internalConfig.screens.9.switchCornerSize</key>
	<string>0</string>
	<key>internalConfig.screens.8.switchCornerArray.4.switchCorner</key>
	<string>NO</string>
	<key>internalConfig.switchCornerArray.size</key>
	<string>4</string>
	<key>internalConfig.screens.9.modifierArray.2.modifier</key>
	<string>1</string>
	<key>internalConfig.clipboardSharingSize</key>
	<data>QFZhcmlhbnQoAAAAwoQAAAAAAAAMACk=</data>
</dict>
</plist>
